{% extends 'default/layout.html.twig' %}

{% set title='Home' %}
{% set type_compte='Admin' %}
{% set namepage="Réaliser une annonce" %}
{% block div %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Formulaire de création d'une annonce</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <di role="form">
                            {{ form_start(formulaire) }}

                            <label>{{ form_label(formulaire.titre) }}</label>
                            <div class="form-group">{{ form_widget(formulaire.titre) }}</div>
                            <label>{{ form_label(formulaire.destinataire) }}</label>
                            <div class="form-group"> {{ form_widget(formulaire.destinataire) }}</div>

                            <label>{{ form_label(formulaire.date_debut) }}</label>
                            <div class="form-group"> {{ form_widget(formulaire.date_debut) }}</div>

                            <label>{{ form_label(formulaire.date_fin) }}</label>
                            <div class="form-group"> {{ form_widget(formulaire.date_fin) }}</div>
                            <label>{{ form_label(formulaire.contenu) }}</label>
                            <div class="form-group"> {{ form_widget(formulaire.contenu) }}</div>

                            {#{ form_row(formulaire.submit) }#}
                            {{ form_end(formulaire) }}
                        </di>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}